<%include ./public/header.html%>
<link rel="stylesheet" type="text/css" href="/public/default/css/expert.css">
<!--主体部分-->
<div class="container clearfix">
    <!--左侧导航栏-->
    <div class="ltbox fl bd1">
        <div class="ltmenu">
            <div class="tit">
                <h2>专家智库</h2>
            </div>
            <ul class="menulist clearfix">
                <li class="current cli"><a href="#"><i></i>协会专家</a></li>
                <li class="cli"><a href="#"><i></i>大数据库</a></li>
                <li class="cli"><a href="#"><i></i>技术交流</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="js/cur.js"></script>
    <!--右侧内容栏-->
    <div class="rtbox fr">
        <div class="rtit">
            <div class="srtit">
                <h2 class="fl"><i><img src="/public/default/images/line_red.png"></i>协会专家&nbsp;|&nbsp; Website Building</h2>
                <p class="fr">当前位置：<a href="#">首页</a> &gt; <a href="#">专家智库</a> &gt;<a href="#">协会专家</a></p>
            </div>
        </div>
        <!--公告内容-->
        <div class="rtcon abtbg">
            <div class="rtcontain aboutbox">
                <!--内容开始-->
                <div class="notice">
                    <div class="img2 fl "><a href="#"><img src="/public/default/images/expert1.jpg" height="177" width="155"></a></div>
                    <div class="txt fr"><h4>张信良<span>中国工程院院士 教授 主任医师 博士研究生导师</span></h4>
                        <p> 任职全国金融人才平台服务中心主任(事业编副局)，兼任中国金融办工作协会副会长，北京大学金融文化产业发
                            展中心主任，科技部科技金融创新研究院副院长，中国场外市场服务联盟副理事长，全国担保专家委员会副主任兼
                            秘书长，全国工商联中华商业信用建设工程委员副主任兼金融委员会主任。在金融政府...[<a href="#">查看详细</a>]</p>
                    </div>
                </div>
                <div class="notice">
                    <div class="img2 fl "><a href="#"><img src="/public/default/images/expert2.jpg" height="177" width="155"></a></div>
                    <div class="txt fr"><h4>鲍方云<span>中国工程院院士 教授 主任医师 博士研究生导师</span></h4>
                        <p> 任职全国金融人才平台服务中心主任(事业编副局)，兼任中国金融办工作协会副会长，北京大学金融文化产业发
                            展中心主任，科技部科技金融创新研究院副院长，中国场外市场服务联盟副理事长，全国担保专家委员会副主任兼
                            秘书长，全国工商联中华商业信用建设工程委员副主任兼金融委员会主任。在金融政府...[<a href="#">查看详细</a>]</p>
                    </div>
                </div>
                <div class="notice">
                    <div class="img2 fl "><a href="#"><img src="/public/default/images/expert3.jpg" height="177" width="155"></a></div>
                    <div class="txt fr"><h4>赵勇<span>中国工程院院士 教授 主任医师 博士研究生导师</span></h4>
                        <p> 任职全国金融人才平台服务中心主任(事业编副局)，兼任中国金融办工作协会副会长，北京大学金融文化产业发
                            展中心主任，科技部科技金融创新研究院副院长，中国场外市场服务联盟副理事长，全国担保专家委员会副主任兼
                            秘书长，全国工商联中华商业信用建设工程委员副主任兼金融委员会主任。在金融政府...[<a href="#">查看详细</a>]</p>
                    </div>
                </div>
                <div class="notice">
                    <div class="img2 fl "><a href="#"><img src="/public/default/images/expert4.jpg" height="177" width="155"></a></div>
                    <div class="txt fr"><h4>赵勇<span>中国工程院院士 教授 主任医师 博士研究生导师</span></h4>
                        <p> 任职全国金融人才平台服务中心主任(事业编副局)，兼任中国金融办工作协会副会长，北京大学金融文化产业发
                            展中心主任，科技部科技金融创新研究院副院长，中国场外市场服务联盟副理事长，全国担保专家委员会副主任兼
                            秘书长，全国工商联中华商业信用建设工程委员副主任兼金融委员会主任。在金融政府...[<a href="#">查看详细</a>]</p>
                    </div>
                </div>
                <!--内容end-->
            </div>
         </div>
        <!--分页-->
        <div class="pageview">
            <span class="prev-link link">上一页</span>
            <a href="#" class="link hover">1</a>
            <a href="#" class="link">2</a>
            <a href="#" class="link">3</a>
            <a href="#" class="link">4</a>
            <a href="#" class="link next">下一页</a>
            <span class="nub">共4页，跳至第<input type="text" value="1" id="curpageid">页</span>
            <input type="button" class="link hover" value="确定" id="gotourlid">
        </div>
        <!--分页end-->
    </div>
</div>
<!--底部-->
<footer id="footer">
    <div class="fttool">
        <div class="container">
            <a href="#" target="_blank">关于我们</a> - <a href="#" target="_blank">办事指南</a> - <a href="#" target="_blank">在线咨询</a> - <a href="#" target="_blank">网站管理</a> - 欢迎您，您是第28735位访问者！
        </div>
    </div>
    </div>
    <div class="ftbt container">
        <div class="ftbt_left fl">
            <p>深圳市大数据研究与应用协会  版权所有</p>
            <p>地址：中国广东省深圳市南山区高新南七道数字技术园A3栋4F</p>
            <p>联系方式：0755-83734155</p>
        </div>
        <div class="ftbt_right fr">
            <p>客服QQ：2295956241</p>
            <p>邮箱：szbigdate@126.com</p>
            <p>官方微博：@深圳市大数据研究与应用协会</p>
        </div>
        <div class="middle fr"><img src="/public/default/images/weixin.jpg" width="90" height="90"> </div>
    </div>
    <div class="copyright container">
        Copyright © 2013-2015 gdccia.org All rights reserved.&nbsp;&nbsp;&nbsp;粤ICP备15048364号-1&nbsp;&nbsp;&nbsp;技术支持：深圳鲲鹏科创信息技术有限公司
    </div>
</footer>
<!--左侧微信-->
<div id="ewm">
    <span>关闭</span>
    <img src="/public/default/images/weixin.jpg" alt="微信">
</div>
<!--右侧工具栏-->
<div id="sidebar">
    <ul>
        <li class="qq">
            <span>咨询</span>
            <div class="showbox">
                <div class="qqlist">
                    <div class="qqtop">在线咨询</div>
                    <div class="qqlist2">
                        <a target="_blank"href="http://wpa.qq.com/msgrd?v=3&uin=1958366264&site=qq&menu=yes" rel="nofollow">协会咨询</a><a target="_blank"href="http://wpa.qq.com/msgrd?v=3&uin=971919614&site=qq&menu=yes" rel="nofollow">网站咨询</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="qrcode">
            <span>微信</span>
            <div class="showbox">
                <img src="/public/default/images/weixin.jpg" width="100" height="100"  alt="微信">
            </div>
        </li>
        <li class="share">
            <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="share_2" data-bd-bind="1416968358289">
                <a class="bds_more" data-cmd="more" rel="nofollow">分享</a>
            </div>
        </li>
        <li class="gotop"><span>顶部</span></li>
    </ul>
    <style type="text/css">
        #sidebar .bdshare-button-style0-16 .bds_more{background:none; display:block;  padding:0px; height:40px;line-height:40px; margin:0px; float:none}
        #sidebar .bdshare-button-style0-16 .bds_more:hover{color:#fff; text-decoration:none;}
    </style>
    <script type="text/javascript">
        window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "1", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": [{ "tag": "share_1", bdUrl: '' }, { "tag": "share_2", bdUrl: '', "bdPopupOffsetLeft": "-130", "bdPopupOffsetTop": "80"}] }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F68f5be90c2d9d141dd7fc539233f5431' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="http://hm.baidu.com/h.js?68f5be90c2d9d141dd7fc539233f5431" type="text/javascript"></script>
</div>

</body>
</html>
